<div class="game-container">
  <h1>Rock, Paper, Scissors</h1>
  <h3>Choose your play</h3>
  <form>
    <select>
      <option hidden="true">Choose</option>
      <option>Rock</option>
      <option>Paper</option>
      <option>Scissors</option>
    </select>
    <button type="submit">Throw</button>
  </form>
</div>